<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/"
                    >Chấm công</a
                >
            </li>
            <li class="main-header__item">
                <a
                    class="<%= path === '/thong-tin-ca-nhan' ? 'active' : '' %>"
                    href="/thong-tin-ca-nhan"
                    >Thông tin cá nhân</a
                >
            </li>
            <li class="main-header__item">
                <a
                    class="<%= path === '/thong-tin-gio-lam' ? 'active' : '' %>"
                    href="/thong-tin-gio-lam"
                    >Tra cứu thông tin giờ làm</a
                >
            </li>
            <li class="main-header__item">
                <a
                    class="<%= path === '/thong-tin-covid' ? 'active' : '' %>"
                    href="/thong-tin-covid"
                    >Thông tin COVID</a
                >
            </li>
            <li class="main-header__item">
                <a
                    class="<%= path === '/tong-hop-gio-lam' ? 'active' : '' %>"
                    href="/tong-hop-gio-lam"
                    >Tổng hợp giờ làm NV</a
                >
            </li>
        </ul>
        <ul class="main-header__item-list">
            <% if (!isAuthen) { %>
            <li class="main-header__item">
                <a
                    class="<%= path === '/login' ? 'active' : '' %>"
                    href="/login"
                    >Login</a
                >
            </li>
            <% } else { %>
            <li class="main-header__item">
                <form action="/logout" method="post">
                    <button type="submit">Logout</button>
                </form>
            </li>
            <% } %>
        </ul>
    </nav>
</header>

<nav class="mobile-nav">
    <ul class="mobile-nav__item-list">
        <li class="mobile-nav__item">
            <a class="<%= path === '/' ? 'active' : '' %>" href="/"
                >Chấm công</a
            >
        </li>
        <li class="mobile-nav__item">
            <a
                class="<%= path === '/thong-tin-ca-nhan' ? 'active' : '' %>"
                href="/thong-tin-ca-nhan"
                >Thông tin cá nhân</a
            >
        </li>
        <li class="mobile-nav__item">
            <a
                class="<%= path === '/thong-tin-gio-lam' ? 'active' : '' %>"
                href="/thong-tin-gio-lam"
                >Tra cứu thông tin giờ làm</a
            >
        </li>
        <li class="mobile-nav__item">
            <a
                class="<%= path === '/thong-tin-covid' ? 'active' : '' %>"
                href="/thong-tin-covid"
                >Thông tin COVID</a
            >
        </li>
        <li class="mobile-nav__item">
            <a
                class="<%= path === '/tong-hop-gio-lam' ? 'active' : '' %>"
                href="tong-hop-gio-lam"
                >Tổng hợp giờ làm NV</a
            >
        </li>
        <li class="mobile-nav__item">
            <a class="<%= path === '/login' ? 'active' : '' %>" href="/login"
                >Login</a
            >
        </li>
        <li class="mobile-nav__item">
            <form action="/logout" method="post">
                <button type="submit">Logout</button>
            </form>
        </li>
    </ul>
</nav>
