<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <%- include('../includes/button.ejs') %>
        <div class="centered">
            <% if (result.length > 0 && result[0].status) { %>
                <h2 class="index__title">Kết thúc để có gạo</h3>
                    <p>Mỗi ngày hãy cố gắng thêm một chút !!!</p>
                    <%- include('thongtinlamviec.ejs', result) %>
                    <% }else{%>
                        <h2 class="index__title">Điểm danh để làm việc</h3>
                            <i>Vì một tương lai ấm no !!!!</i>
                            <% } %>
    </main>
    
<%- include('../includes/end.ejs') %>