<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="/css/orders.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
                <ul class="cart__item-list">
                    <h2>Danh sách nhân viên</h2>
                    <li class="cart__item">
                        <%= name %> <a href="/tong-hop-gio-lam/<%= staffId %>?nv=true">Chi tiết</a>
                    </li>
                    <li class="cart__item">
                        NV 1 <a href="/">Chi tiết</a>
                    </li>
                    <li class="cart__item">
                        NV 1 <a href="/">Chi tiết</a>
                    </li>
                </ul>
                <% if(checkStaff == 'true') { %>
                  <table>
                          <h2>Danh sách giờ làm</h2>
                          <p><b>Nhân viên: <%= name %></b></p>
                          <p>Tổng số giờ nghỉ đã đăng ký trong tháng: <%= dayLeave %> giờ</p>
                          <hr />
                          <tr>
                            <th>Ngày</th>
                            <th>Giờ vào</th>
                            <th>Giờ ra</th>
                            <th>Địa điểm</th>
                            <th>Giờ làm thêm</th>
                            <th></th>
                          </tr>
                          <% for (let prod of inf) { %> 
                          <tr>
                            <td><%= prod.dayWork %></td>
                            <td><%= prod.startDate %></td>
                            <td><%= prod.endDate %></td>
                            <td><%= prod.place %></td>
                            <td><%= prod.overTime %> giờ</td>
                            <td>
                              <form method="post" action="/delete-worktime">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                                <input type="hidden" value="<%= prod._id %>" name="workTimeId">
                                <button class="btn" type="submit">Xóa</button>
                              </form>
                            </td>
                          </tr>
                          <% } %>
                  </table>
                <div class="centered">
                    <form action="/xac-nhan-quan-ly" method="POST">
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                        <button type="submit" class="btn">Xác nhận</button>
                    </form>
                </div>
                <% } %>
                
                
        </main>
        <%- include('../includes/end.ejs') %>