<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if(products.length > 0) { %>
                    <ul>
                        <% products.forEach(prod => { %>
                            <li class="cart__item">
                                <h1><%= prod.title %></h1>
                                <h2>Quantity: <%= prod.cartItem.quantity %></h2>
                                <form method="POST" action="/cart-delete-item">
                                    <input type="hidden" value="<%= prod.id %>" name="productId">
                                    <button type="submit" class="btn">Delete</button>
                                </form>
                            </li>
                        <% }) %>
                    </ul>
                    <hr>
                    <form action="/create-order" method="POST">
                        <button class="btn" type="submit">Order Now</button>
                    </form>
                <% } else { %>
                    <h1>No Product in Cart!</h1>
                <% } %>
            </main>
        <%- include('../includes/end.ejs') %>