<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if(staff.length > 0) { %>
                    <div class="grid">
                        <% for( let inf of staff) { %> 
                            <article class="card product-item">
                                <div class="card__image">
                                    <img src="<%= inf.imageUrl %>" alt="<%= inf.name %>" height="50%">
                                </div>
                                <div class="card__content">
                                    <h2 class="product__price">
                                        <%= inf.name %>
                                    </h2>
                                </div>
                                <header class="card__header">
                                    <p class="product__title">
                                        doB: <%= inf.doB %>
                                    </p>
                                    <p class="product__title">
                                        salaryScale: <%= inf.salaryScale %>
                                    </p>
                                    <p class="product__title">
                                        startDate: <%= inf.startDate %>
                                    </p>
                                    <p class="product__title">
                                        department: <%= inf.department %>
                                    </p>
                                    <p class="product__title">
                                        annualLeave: <%= inf.annualLeave %>
                                    </p>
                                </header>
                                <div class="card__actions">
                                    <a href="/edit-staff" class="btn">Chỉnh sửa</a>
                                </div>
                            </article>
                        <% } %>
                    </div>
                    <% } else { %>
                        <div>
                            Khong co ket qua hien thi
                        </div>
                    <% } %>
            </main>
            <%- include('../includes/end.ejs') %>