<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/orders.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <table>
                    <h2>Danh sách giờ làm</h2>
                    <tr>
                      <th>Ngày</th>
                      <th>Giờ vào</th>
                      <th>Giờ ra</th>
                      <th>Địa điểm</th>
                      <th>Giờ làm thêm</th>
                    </tr>
                    <% for (let prod of inf) { %> 
                    <tr>
                      <td><%= prod.dayWork %></td>
                      <td><%= prod.startDate %></td>
                      <td><%= prod.endDate %></td>
                      <td><%= prod.place %></td>
                      <td><%= prod.overTime %> giờ</td>
                    </tr>
            <% } %>

                  </table>
            <!-- <ul class="orders"> -->
                <!-- <li class="orders__item"> -->
                    <!-- <h1>Tổng số giờ làm: </h1>
                    <h1>Annualeave: </h1> -->
                    <!-- <ul class="orders__products">  -->
                        <!-- <li class="orders__products-item">Ngày làm việc: </li>
                        <li class="orders__products-item">Giờ vào: </li>
                        <li class="orders__products-item">Giờ kết thúc: </li>
                        <li class="orders__products-item">Địa điểm làm việc: </li>
                        <li class="orders__products-item">Số giờ tính làm thêm (sau 8h): </li> -->
                    <!-- </ul> -->
                <!-- </li> -->
            <!-- </ul>     -->
        </main>
        <%- include('../includes/end.ejs') %>